#popup{
    width: 145px;
    background-color:grey;
    border-radius: 10px;
    margin-top: 20px;
    
}


   .colorsHolder{
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin-top:5px;
      margin-left: 5px;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      float: left;
    }
    .result{
      width: 50px;
      background: gray;
      box-sizing: border-box;
      padding: 10px;
    }
    #MyValidateForm{
      width: 350px;
      display: flex;
      flex-direction: column;
    }
    #MyValidateForm input{
      margin-bottom: 10px;
      box-sizing: border-box;
      padding: 10px 20px;
    }
    .circle{
      width: 30px;
      height: 30px;
      background: #eee;
      border-radius: 50%;
    }

#colAdd{
    width: 100px;
    margin-top: 10px;
}